page-contopcaoesc {

    .rr {
        position: relative;
        left: 70% !important;
        color: rgb(80, 78, 78);
        font-size: 1.3rem;
    }

    .hy {
        color: rgb(80, 78, 78);
        font-size: 1.3rem;
    }

    .tt {
        position: relative;
        top: -4%;
        left: 3%;
        font-size: 1.0rem;
        color: rgb(145, 144, 144);
    }

    .tr {
        position: relative;
        top: -6%;
        left: 3%;
        font-size: 1.0rem;
        color: rgb(145, 144, 144);
    }

    .dd {
        height: 2px;
        width:111% ;
        background-color: rgb(192, 191, 191);
        position: relative;
        top: -5%;
        left: -5%;
    }

    .add {
        position: relative;
        top: -5%;
        left: 19%;
    }

    .bbb {
        
        width: 99%;
        color: black;
        background-color: rgb(133, 131, 131);
        border-radius: 4px;
    }

}
