page-imagem-home-destino {
    ion-content {
        .xx {
            border-radius: 7px !important;
            width: 103%;
            position: relative;
            right: 5%;
            top: -3%;            
            
        }        
            .tt {
                height: 137px;
                width: 100% !important;
                position: relative;
                display: inline-block;
                border-radius: 7px;
        }
        .button-md {
            display: inline-block;
            border-radius: 5px !important;
            height: 3.6rem;
            width: 98%;
            color: black;
            background-color: rgb(133, 131, 131);
            
        }
        .dd {
            height: 9px;
            width:100% ;
            background-color: rgb(212, 209, 209);
        }

        .button-ios {
            display: inline-block;
            border-radius: 5px !important;
            height: 3.6rem;
            width: 98%;
            color: black;
            background-color: rgb(133, 131, 131);
            
        }
        
    }

}

