page-cardapio {
    .button-inner {
        color:  rgb(133, 131, 131);
    }

    .tt {
        height: 137px;
        width: 100% !important;
        position: relative;
        border-radius: 8px;
       
    }
    h2 {
        font-size: 1.6rem;
    }

    .dd {
        height: 2px;
        width:110% ;
        background-color: rgb(212, 209, 209);
        margin-left: -5%;
    }

    .grid {
        position: relative;
        top: 3%;
        height: 10%;
    }

    h4 {
        color: rgb(80, 78, 78) ; 
        font-size: 1.4rem;
        

    }
    
    p {
        color: rgb(145, 144, 144);
        position: relative;
        top: -6%;
        font-size: 1.1rem;
        
    }

    .dd1 {
        height: 2px;
        width:110% ;
        background-color: rgb(212, 209, 209);
        margin-left: -5%;
        position: relative;
        top: -5%;
    }

    .grid1 {
        position: relative;
        top: -2%;
        height: 10%;
    }

    .p1 {
        color: rgb(145, 144, 144);
        position: relative;
        top: -11%;
        font-size: 1.1rem;
        
    }

    .dd2 {
        height: 2px;
        width:110% ;
        background-color: rgb(212, 209, 209);
        margin-left: -5%;
        position: relative;
        top: -11%;
    }

    .grid2 {
        position: relative;
        top: -8%;
        height: 10%;
    }

    .p2 {
        color: rgb(145, 144, 144);
        position: relative;
        top: -17%;
        font-size: 1.1rem;
        
    }

    .grid3 {
        position: relative;
        top: -14%;
        height: 10%;
    }

    .dd3 {
        height: 2px;
        width:110% ;
        background-color: rgb(212, 209, 209);
        margin-left: -5%;
        position: relative;
        top: -17%;
    }

    .p3 {
        color: rgb(145, 144, 144);
        position: relative;
        top: -23%;
        font-size: 1.1rem;
        
    }

    .dd4 {
        height: 2px;
        width:110% ;
        background-color: rgb(212, 209, 209);
        margin-left: -5%;
        position: relative;
        top: -23%;
    }

    .dd5 {
        height: 2px;
        width:110% ;
        background-color: rgb(212, 209, 209);
        margin-left: -5%;
        position: relative;
        top: -22%;
    }

    .h21 {
        font-size: 1.6rem;
        position: relative;
        top: -23%;
    }

    .grid4 {
        position: relative;
        top: -19%;
        height: 10%;
    }

    .p4 {
        color: rgb(145, 144, 144);
        position: relative;
        top: -28%;
        font-size: 1.1rem;
        
    }

    ion-footer {
        
        .bt1 {
            box-shadow: none !important;
            color: black !important;
            background: none !important;
            font-size: 3.0rem !important;
            position: relative;
            left: 2%;
        }        

    }

    .footer-ios {
        height: 7%;

        .bt1 {
            box-shadow: none !important;
            color: black !important;
            background: none !important;
            font-size: 3.0rem !important;
            position: relative;
            left: 2%;
            top: -24%;
        }

    }

    .bebida {
        width: 17%;
    }

    .bebida1 {
        width: 14%;
    }


    

    



    

}
